In [1]:
#1.Creation of empty set : 
s={} 
print(s) 
print(type(s))

{}
<class 'dict'>

In [2]:
s=set() 
print(s) 
print(type(s))

set()
<class 'set'>

In [3]:
#2.Creation of sets with multiple Elements:
s={1,2,3,4,5} 
print(s) 
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
#3.Creation of sets from tuples: 
l=(1,2,3,4,5) 
s=set(l) 
print(s) 
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
#4.Creation of sets from range(): 
s=set(range(12)) 
print(s) 
print(type(s))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
<class 'set'>

In [6]:
s=set('RadhaMadhava') 
print(s) 
print(type(s))

{'a', 'h', 'M', 'R', 'v', 'd'}
<class 'set'>

In [1]:
name='Radha Madhava'
s=set(name.split()) 
print(s) 
print(type(s))

{'Madhava', 'Radha'}
<class 'set'>

In [2]:
name='Surendra Panda'
s=set(name.split())
print(s)

{'Surendra', 'Panda'}

In [7]:
s={1,2,3,4,5} 
print(s[2])

TypeError: 'set' object is not subscriptable

In [8]:
#Applying Membership operators in Sets: 
s={1,2,3,4,5} 
print(3 in s) 
print(7 not in s)

True
True

# Set Methods:

In [9]:
#1.add():
s={10,20,30,40,50} 
s.add(90) 
print(s)

{50, 20, 90, 40, 10, 30}

In [10]:
#2.update():
s={1,2,3,4,5} 
l={7,8,9,10} 
t={23,15,14,} 
s.update(l,t,range(30,40)) 
print(s)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 14, 15, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39}

In [11]:
#3.remove(): 
s={10,20,30,40,50} 
s.remove(30) 
print(s)

{50, 20, 40, 10}

In [12]:
#4.discard():
s={10,20,30,40,50} 
s.discard(30) 
print(s)

{50, 20, 40, 10}

In [14]:
#5.pop(): 
s={10,20,30,40,50}
s.pop() 
print(s)

{20, 40, 10, 30}

In [15]:
#6.copy(): 
s1={10,20,30,40,50}
s2=s1.copy() 
print(s1) 
print(s2) 
print(id(s1)) 
print(id(s2)) 
s1.add(90) 
print(s1,s2)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
1613694420800
1613694421024
{50, 20, 90, 40, 10, 30} {50, 20, 40, 10, 30}

In [16]:
# Deep Copy
s1={10,20,30,40,50}
s2=s1 
print(s1) 
print(s2) 
print(id(s1)) 
print(id(s2)) 
s1.add(90) 
print(s1,s2)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
1613694421248
1613694421248
{50, 20, 90, 40, 10, 30} {50, 20, 90, 40, 10, 30}

In [18]:
#7. clear():
s={10,20,30,40,50} 
print(s) 
s.clear() 
print(s)

{50, 20, 40, 10, 30}
set()

In [19]:
#8. enumerate(): 
s={10,20,30,40,50} 
for i in enumerate(s):
    print(i)

(0, 50)
(1, 20)
(2, 40)
(3, 10)
(4, 30)

In [20]:
#9.max() and min(): 
s={10,20,30,40,50} 
print(min(s)) 
print(max(s))

10
50

In [21]:
#10.sum():
s={10,20,30,40,50} 
print(sum(s))

150

In [23]:
#11.sorted(): 
s={10,70,30,85,60} 
print(sorted(s)) 
print(sorted(s,reverse=True))

[10, 30, 60, 70, 85]
[85, 70, 60, 30, 10]

# Set Methods used for Mathematical Operations:

In [24]:
#1.Union:
a={10,20,30,40,50} 
b={60,70,80,90,100} 
print(a.union(b)) 
print(a|b)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [25]:
#2.Intersection: 
a={10,20,30,40,50} 
b={60,30,80,90,100} 
print(a.intersection(b)) 
print(a&b)

{30}
{30}

In [26]:
#3.Difference:
a={10,20,30,40,50} 
b={60,30,80,90,100} 
print(a.difference(b)) 
print(a-b)

{40, 50, 10, 20}
{40, 50, 10, 20}

In [27]:
#4.Symmetric Difference:
a={10,20,30,40,50}
b={60,30,80,90,100} 
print(a.symmetric_difference(b)) 
print(a^b)

{10, 80, 20, 90, 100, 40, 50, 60}
{10, 80, 20, 90, 100, 40, 50, 60}

In [28]:
#5.Issubset:
a={10,20,30,40,50} 
b={10,40} 
print(b.issubset(a))

True

In [29]:
a={10,20,30,40,50} 
b={10,40} 
print(a.issuperset(b)) #superset

True

In [30]:
#6.Isdisjoint: 
a={10,20,30,40,50}
b={60,70,80,90} 
print(a.isdisjoint(b))

True

# Set Comprehension:

In [33]:
#Create a set from List: 
l=[13,23,33,43,53]
s=set() 
for i in l: 
    s.add(i) 
print(s)

{33, 43, 13, 53, 23}

In [34]:
#With Set Comprehension:
l=[13,23,33,43,53] 
s={i for i in l} 
print(s)

{33, 43, 13, 53, 23}

In [35]:
#Multiplication of the elements: 
l=[13,23,33,43,53] 
s={i*2 for i in l} 
print(s)

{66, 106, 46, 86, 26}

In [36]:
#With Range: 
l=[13,23,33,43,53] 
s={i for i in range(100,120)} 
print(s)

{100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119}

In [37]:
# Create a set by adding all the elements from 20 to 40 which are divisible by 4. 
s={i for i in range(20,41) if i%4==0} 
print(s)

{32, 36, 40, 20, 24, 28}

In [38]:
#Create a set from the list names as “Names” and also print the first letters from each element.
Names=['Govardhan','Shyam','Ram','Kishor'] 
s={(i[0]) for i in Names} 
print(s)

{'K', 'G', 'S', 'R'}

In [39]:
#Create a set from a list “Names” and by adding all the elements except “Kishor” to be added as “Kishori”.
Names=['Govardhan','Shyam','Ram','Kishor'] 
s={i if i!='Kishor' else 'Kishori' for i in Names} 
print(s)

{'Kishori', 'Ram', 'Govardhan', 'Shyam'}

# #Frozenset

In [2]:
s={23,33,43,53,63}
fs=frozenset(s)
print(fs)
print(type(fs))

frozenset({33, 53, 23, 43, 63})
<class 'frozenset'>

In [3]:
# Creation of frozenset from list:
l=[23,1,2,3,5,7]
fs=frozenset(l)
print(fs)
print(type(fs))

frozenset({1, 2, 3, 5, 7, 23})
<class 'frozenset'>

In [4]:
# Creation of fs using range:
fs=frozenset(range(10))
print(fs)

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [5]:
fs=frozenset(range(10))
fs.add(888) #Since frozen set is immutable in nature new elements cannot be added.
print(fs)

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
fs=frozenset(range(10))
fs.remove(2) #Since frozen set is immutable in nature elements present cannot be removed.
print(fs)

AttributeError: 'frozenset' object has no attribute 'remove'

In [7]:
# Applying other normal functions which will not modify the frozenset.

fs1=frozenset([23,33,43,53,63])
fs2=frozenset([11,12,13,23,63])
fs3=frozenset([23,43])

fs4=fs1.copy()  #shallow copy:different memory location
print(fs4)

[23, 33, 43, 53, 63]

In [8]:
fs5=fs2
print(fs5) #deep copy:same memory location

[11, 12, 13, 23, 63]

In [19]:
fs1=frozenset([23,33,43,53,63])
fs2=frozenset([11,12,13,23,63])
fs3=frozenset([23,43])
fs8=frozenset([8,888])

print(fs1.union(fs2))
print(fs1|fs2)

print(fs1.union(fs2).union(fs8))

frozenset({33, 43, 11, 12, 13, 53, 23, 63})
frozenset({33, 43, 11, 12, 13, 53, 23, 63})
frozenset({33, 8, 43, 11, 12, 13, 53, 23, 888, 63})

In [18]:
print(fs1.intersection(fs2))
print(fs1&fs2)

frozenset({63, 23})
frozenset({63, 23})

In [17]:
print(fs1.difference(fs2))
print(fs1-fs2)

frozenset({33, 43, 53})
frozenset({33, 43, 53})

In [22]:
print(fs1.symmetric_difference(fs2))
print(fs1^fs2)

frozenset({33, 53, 43, 11, 12, 13})
frozenset({33, 53, 43, 11, 12, 13})

In [23]:
print(fs3.issubset(fs1))

True

In [24]:
print(fs1.issuperset(fs3))

True

In [26]:
print(fs3.isdisjoint(fs8))

True