In [1]:
# Lambda function also known as anonymous function : if we declare a function without anyname.
def add(a,b):
    print(a+b)
add(10,20)

30

In [3]:
f = lambda a,b:a+b
print(f(10,20))
print(type(f))
# However this is not the real use of lambda function.

30
<class 'function'>

In [4]:
# Area of a Circle:
f=lambda r:3.14*r*r
print(f(2.1))

13.8474

In [5]:
# Find out the Largest number in between two numbers without using Lambda.
def findlarge(a,b):
    if a>b:
        print(a)
    else:
        print(b)
findlarge(10,20)

20

In [6]:
# Using Lambda
f=lambda a,b:a if a>b else b
print(f(10,2))

10

In [7]:
# Lambda can't return multiple values.
f=lambda a,b:a,b
print(f(10,20))  # NameError : name "b" is not defined

NameError: name 'b' is not defined

In [8]:
f=lambda a,b:a
print(f(10,20))

10

In [9]:
f=lambda a,b,c:[a,b,c]
print(f(10,20,30))

[10, 20, 30]

In [10]:
f=lambda a,b,c:(a,b,c)
print(f(10,20,30))

(10, 20, 30)

In [11]:
f=lambda a,b,c:{a,b,c}
print(f(10,220,30))

{10, 220, 30}

In [12]:
f=lambda a,b,c:{'a':a,'b':b,'c':c}
print(f(10,20,30))

{'a': 10, 'b': 20, 'c': 30}

In [13]:
# Find the greatest among two numbers functions using lambda in a line.
print((lambda a,b:a if a>b else b)(10,20))

20

In [14]:
print((lambda a,b,c:a+b+c)(10,20,30))

60

In [25]:
x=lambda n:n*n
print(x(2))

4

In [27]:
y=lambda:'I Love'+' India'
print(y())

I Love India

# Filter:

In [ ]:
#Filter function is used to filter a value from a sequence.
# It is a higher order function which means that it will take function as an argument.
# The Syntax: filter(function,sequence)
# If a function takes another function as an argument then it is knowm as higher order function.

In [28]:
# Without using function:
def checkEven(num):
    if num%2==0:
        return True
    else:
        return False
data=filter(checkEven,[10,15,12,16,18,11,13]) 
print(list(data))

[10, 12, 16, 18]

In [29]:
def checkEven(num):
    if num%2==0:
        return True
    else:
        return False
data=filter(checkEven,[10,15,12,16,18,11,13]) 
for i in data:
    print(i)

10
12
16
18

In [16]:
# Find out all the numbers those who are divisible by 2 or 3.
data=filter(lambda num:num%2==0 or num%3==0,[10,12,15,18,21,23,27,30,31,43])
print(list(data))

[10, 12, 15, 18, 21, 27, 30]

In [19]:
# Find out all positive numbers.
data=filter(lambda num:num>0,[2,-4,5,8,-10,-16,12,-8,44,26])
for i in data:
    print(i)

2
5
8
12
44
26

In [30]:
def checkOdd(num):
    if num%2==0:
        return False
    else:
        return True
data=filter(checkOdd,[10,15,12,16,18,11,13])
print(list(data))

[15, 11, 13]

In [33]:
data=(filter(lambda x:x%2==0,[10,15,12,16,18,11,13]))
print(list(data))

[10, 12, 16, 18]

In [34]:
data=(filter(lambda x:x%2!=0,[10,15,12,16,18,11,13]))
print(list(data))

[15, 11, 13]

In [35]:
d={1:'Surendra',2:'Priyanka',3:'Rahul',4:'Zini'}
data=filter(lambda i:i[0]%2!=0,d.items())
print(dict(data))

{1: 'Surendra', 3: 'Rahul'}

In [36]:
d={1:'Surendra',2:'Priyanka',3:'Rahul',4:'Zini'}
data=filter(lambda i:i,d.items())
print(dict(data))

{1: 'Surendra', 2: 'Priyanka', 3: 'Rahul', 4: 'Zini'}

In [37]:
d={1:'Surendra',2:'Priyanka',3:'Rahul',4:'Zini'}
data=filter(lambda i:i%2==0,d.items())
print(dict(data))

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

# Map():

In [1]:
# If you have one or more sequence of data and if you want to perform operation on each and every data , then we can go for
# map functiom.
# Syntax: map(function,sequence)

In [2]:
# Add 4 to each and every element present in list without using lambda,create the body for add 4 function.
def add4(x):
    return x+4
l=[10,20,30,40,50]
data=list(map(add4,l))
print(data)

[14, 24, 34, 44, 54]

In [3]:
# Using Functions:
l=[100,200,300,400,500]
data=list(map(lambda x:x+4,l))
print(data)

[104, 204, 304, 404, 504]

In [5]:
# Add the elements in both the list individually:
l1=[10,20,30,40,50]
l2=[11,12,13,14,15]
data=tuple(map(lambda x,y:x+y,l1,l2))
print(data)

(21, 32, 43, 54, 65)

In [7]:
l1=[10,20,30,40,50]
l2=[11,12,13,14,15]
l3=[111,112,113,114]
data=list(map(lambda x,y,z:x+y+z,l1,l2,l3))
print(data)
#Try to pass exact number of data i.e. length or size must be same.

[132, 144, 156, 168]

In [6]:
# Find out the square of each number present inside tuple.
t=(1,2,3,4,5)
data=list(map(lambda x:x*x,t))
print(data)

[1, 4, 9, 16, 25]

In [10]:
# Find the length of each words present in a list.
names=['Surendra','Priyanka','Rahul','Zini']
data=list(map(lambda x:len(x),names))
print(data)
print(type(data))

[8, 8, 5, 4]
<class 'list'>

In [11]:
# Find the length of each words present in a list.
names=['Surendra','Priyanka','Rahul','Zini']
data=list(map(lambda x:len(x),names))
for i in data:
    print(i)
print(type(data))

8
8
5
4
<class 'list'>

In [13]:
names=['Surendra','Priyanka','Rahul','zini']
data=map(lambda x:len(x),names)
print(data)
print(type(data))

<map object at 0x000001A196637FA0>
<class 'map'>

In [16]:
# Find out the length of each words present in a string.
msg='Hello everyone Welcome to Code Dais'
s=msg.split(' ')
data=list(map(lambda x:len(x),s))
print(data)

[5, 8, 7, 2, 4, 4]

In [17]:
# Find the length of Every Word present in a string.
str='Hello Everyone ! Welcome to Code Dais'
str=msg.split(' ')
data=list(map(lambda x:len(x),str))
print(data)

[5, 8, 7, 2, 4, 4]

# Reduce:

In [1]:
# It is used to reduce a sequence of elements into a single element.
# Reduce function is present inside the functools, so we hane to import it before using reduce function.
# Syntax: reduce(function,sequence)

In [4]:
#Find out the sum of all the elements present inside the list without using lambda.
from functools import reduce
def addall(x,y):
        return x+y
l=[1,2,3,4,5]
data=reduce(addall,l)
print(data)

15

In [5]:
# With using Lambda:
from functools import reduce
l=[10,20,30,40,50]
data=reduce(lambda x,y:x+y,l)
print(data)

150

In [6]:
# Find out the sum of all the elements from 1 to 100.
from functools import reduce
data = reduce(lambda x,y:x+y,range(1,101))
print(data)
print(type(data))

5050
<class 'int'>

In [7]:
# Product of all the elements using lambda.
l1=[1,2,3,4,5]
data=reduce(lambda x,y:x*y,l1)
print(data)

120

In [9]:
# Working with Dictionary:
from functools import reduce
d={
    1:'Surendra',
    2:'Rahul',
    3:'Priyanka',
    4:'Zini'
}
data=reduce(lambda x,y:x+y,d.keys())
print(data)

10

In [10]:
from functools import reduce
d={
    1:'Surendra',
    2:'Rahul',
    3:'Priyanka',
    4:'Zini'
}
data=reduce(lambda x,y:x+y,d.items())
print(data)

(1, 'Surendra', 2, 'Rahul', 3, 'Priyanka', 4, 'Zini')

In [12]:
from functools import reduce
d={
    1:'Surendra',
    2:'Rahul',
    3:'Priyanka',
    4:'Zini'
}
data=reduce(lambda x,y:x+y,d.values())
print(data)

SurendraRahulPriyankaZini

In [15]:
names=['Surendra','Priyanka','Rahul','Zini']
data=reduce(lambda x,y:x+y,names,'hello')
print(data)
print(type(data))

helloSurendraPriyankaRahulZini
<class 'str'>

# Accumulate:

In [17]:
# Syntax:accumulate(sequence,function)
from itertools import accumulate
l=[1,2,3,4,5]
print(list(accumulate(l,lambda x,y:x+y)))
print(reduce(lambda x,y:x+y,l))

[1, 3, 6, 10, 15]
15

In [19]:
from itertools import accumulate
l=[1,2,3,4,5]
print(list(accumulate(l,lambda x,y:x*y)))
print(reduce(lambda x,y:x*y,l))

[1, 2, 6, 24, 120]
120