In [5]:
#To print the factorial of a number:

fact=1
for i in range(1,5):
    fact = fact*i
print(fact)

24

In [7]:
#To print the sum of all natural numbers from 1 to 5.

sum=0
for i in range(1,6):
    sum = sum+i
print(sum)

15

In [9]:
# To print the sum of 5+4+3+2+1

sum=0
for i in range(5,0,-1):
    sum=sum+i
print(sum)

15

In [12]:
# to print the value of 5*4*3*2*1

mul=1
for i in range(5,0,-1):
    mul=mul*i
print(mul)

120

In [6]:
#To print the sum of all natural numbers from 1 to 3 using while loop.

i=1
sum=0
while i<=3:
    sum=sum+i
    i=i+1
print(sum)

6

In [ ]:
i=1
sum=0
while i<=3:
    sum=sum+i
print(sum)
i=i+1

In [2]:
#To print the sum of all natural numbers from 3 to 1 using while loop.
i=3
sum=0
while i<4 and i>0:
    sum=sum+i
    i=i-1
print(sum)

6

In [5]:
i=3
sum=0
while i<4:
    if i==0:
        break
    sum=sum+i
    i=i-1
print(sum)

6

In [8]:
#To print the factorial of a number using while loop:

i=1
fact=1
while i<=3:
    fact=fact*i
    i=i+1
print(fact)

6

In [4]:
# To Print 3*2*1

i=3
mul=1
while i<4:
    if i==0:
        break
    mul=mul*i
    i=i-1
print(mul)

6

In [1]:
#Sum of all natural numbers from m to n using for loop:

m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))
sum=0
for i in range(m,n+1,1):
    sum=sum+i
    i=i+1 
print(sum)

Enter the value of m: 6
Enter the value of n: 10
40

In [6]:
#Sum of all natural numbers from m to n using while loop:

m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))


sum=0
while m<=n:
    sum=sum+m
    m=m+1
print(sum)

Enter the value of m: 1
Enter the value of n: 3
6

In [3]:
#To multiply all numbers from m to n using for loop.

m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))

mul=1
for i in range(m,n+1,1):
    mul=mul*i
    i=i+1 
print(mul)

Enter the value of m: 1
Enter the value of n: 5
120

In [9]:
#To multiply all numbers from m to n using while loop.

m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))


mul=1
while m<=n:
    mul=mul*m
    m=m+1
print(mul)

Enter the value of m: 1
Enter the value of n: 4
24

In [3]:
#Sum and average of all natural numbers from m to n using for loop :

m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))
sum=0
avg=0
for i in range(m,n+1,1):
    sum=sum+i
    i=i+1 
avg=(sum)/(n-m+1)
print(sum)
print(avg)

Enter the value of m: 1
Enter the value of n: 5
15
3.0

In [2]:
 #Sum and average of all natural numbers from m to n using while loop :

m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))

sum=0
avg=0
while m<=n:
    sum=sum+m
    m=m+1
avg={(sum)/(n-m+1)}
print(sum)
print(avg)

Enter the value of m: 1
Enter the value of n: 4

ZeroDivisionError: division by zero

In [10]:
# Wap to find the sum of natural numbers from m to n, if odd multiply by 2 and if even add 2.
m=int(input("Enter the value of m: "))
n=int(input("Enter the value of n: "))
sum=0
for i in range(m,n+1,1):
    if i%2==0:
        sum=sum+(i+2)
    else:
        sum=sum+(i*2)
        
    i=i+1
print(sum)

Enter the value of m: 1
Enter the value of n: 4
18

In [1]:
l=[12]
s=[22]
l.append(s)
print(l)

[12, [22]]