# #For Loop

In [1]:
for i in range(10):
    print('Surendra')

Surendra
Surendra
Surendra
Surendra
Surendra
Surendra
Surendra
Surendra
Surendra
Surendra

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
#to print the number in between 100 to 110
for i in range(100,111):
    print(i)

100
101
102
103
104
105
106
107
108
109
110

In [8]:
# to print the numbers in between 100 to 90
for i in range(100,89,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90

In [9]:
 for i in range(2,9,1):
        print(i)

2
3
4
5
6
7
8

In [1]:
# to print 200 400 600 800 1000
for i in range(200,1001,200):
    print(i)

200
400
600
800
1000

In [2]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [4]:
# to print 999 777 555 333 111
for i in range(999,110,-222):
    print(i)

999
777
555
333
111

In [5]:
# to print all even numbers from 100 to 120:
for i in range(100,121,1):
    if i%2==0:
        print(i)

100
102
104
106
108
110
112
114
116
118
120

In [6]:
# to print all even numbers from 100 to 120:
for i in range(100,121,2):
        print(i)

100
102
104
106
108
110
112
114
116
118
120

In [7]:
name="surendra kumar panda"
for i in name:
    print(i)

s
u
r
e
n
d
r
a

k
u
m
a
r

p
a
n
d
a

In [8]:
name="888888"
for i in name:
    print(i)

8
8
8
8
8
8

In [10]:
name="ankit"
for i in name:
    print(i, end=" ")

a n k i t

In [11]:
for i in range(1,6,2):
    print(f'{i}*{i}={i*i}')

1*1=1
3*3=9
5*5=25

In [12]:
#Multiplication Table of any number as per user input

num=int(input('Enter a number to print multiplication table: '))
for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

Enter a number to print multiplication table: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [13]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [14]:
for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [17]:
for i in range(1,6):
    print('*'*5)

*****
*****
*****
*****
*****

In [19]:
for i in range(1,6):
    if i==3:
        print("*"*i)
    else:
        print("-"*i)

-
--
***
----
-----

In [23]:
for i in  range(1,6):
    print(f'{i}'*i)

1
22
333
4444
55555

In [26]:
for i in range(1,6):
    print(f'{i*i} '*i)

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

### Pattern Programing

In [30]:
# 1. to print 4 16 36 64 100

for i in range(1,11,1):
    if i%2==0:
        print(i*i)

4
16
36
64
100

In [29]:
for i in range(2,11,2):
        print(i*i)

4
16
36
64
100

In [34]:
#2. to print 1 * 3 * 5
for i in range(1,6):
    if i%2==0:
        print('*')
    else:
        print(i)

1
*
3
*
5

In [17]:
#3. To print *1 **2 ***3 ****4 *****5
for i in range(1,6):
    print(f'{"*"*i}{i}')

*1
**2
***3
****4
*****5

In [54]:
#4. To print 1 00 111 0000 11111

for i in range(1,6):
    if i%2==0:
        print("0"*i)
    else:
        print('1'*i)

1
00
111
0000
11111

In [5]:
  
#5 to print 999 HiHi 777 HiHi 555 HiHi 

for i in range(999,443,-111):
    if i%2==0:
        print('HiHi')
    else:
        print(i)

999
HiHi
777
HiHi
555
HiHi

In [11]:
 #6 to print 
    # 1*1=1
    # 5*5=25
    # 9*9=81
for i in range(1,10,4):
    print(f'{i}*{i}={ i*i}')

1*1=1
5*5=25
9*9=81

In [13]:
 #7 to print 
    # 1+1=1
    # 2+2=2
    # 3+3=3
    # 4+4=4
    
for i in range(1,5):
    print(f'{i} + {i} = {i}')

1 + 1 = 1
2 + 2 = 2
3 + 3 = 3
4 + 4 = 4

In [16]:
#8 to print
  # 1+1=4
  # 2+2=9
  # 3+3=16
  # 4+4=25

for i in range(1,5):
    print(f'{i}+{i}={(i+1)*(i+1)}')

1+1=4
2+2=9
3+3=16
4+4=25

In [2]:
#To print the sum of all natural numbers from 3 to 1 using while loop.
i=3
sum=0
while i<4 and i>0:
    sum=sum+i
    i=i-1
print(sum)

6