## LIST DATA STRUCTURE

### Creation Of List In Different Ways

In [1]:
#1. Creation Of empty list
l=[]
print(l)
print(type(l))

[]
<class 'list'>

In [3]:
#2.Creation Of list using eval function
l=eval(input("Enter a List: "))
print(l)

Enter a List: [10,20,30,40,50]
[10, 20, 30, 40, 50]

In [4]:
#3.Creation Of List Using List Function
l=list((10,12,14,16,18,20))
print(l)

[10, 12, 14, 16, 18, 20]

In [5]:
# ex creation of list using List function with range
l=list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l=list(range(40,30,-2))
print(l)

[40, 38, 36, 34, 32]

In [7]:
#4.Creation Of List Directly
l=[23,33,49,'surendra',True,9.9]
print(l)

[23, 33, 49, 'surendra', True, 9.9]

In [9]:
msg="Hello Surendra Kumar Panda"
print(msg.split())

['Hello', 'Surendra', 'Kumar', 'Panda']

In [11]:
msg="10.5.1997"
print(msg.split('.'))

['10', '5', '1997']

In [12]:
msg="10-5-1997"
print(msg.split('-'))

['10', '5', '1997']

In [5]:
msg="hellopythonlanguage"
print(msg.split('p'))

['hello', 'ythonlanguage']

In [1]:
#5. Creation of list using split() function

name=input('Enter Your First and Last name by using space: ')
l=name.split()
print(l)
print(type(l))

Enter Your First and Last name by using space: Surendra Kumar Panda
['Surendra', 'Kumar', 'Panda']
<class 'list'>

In [2]:
# program enter your dob using . separator and converted to list and store data , month

dob=input('enter dob using .(dot) separator')
l=dob.split('.')
print(l)

enter dob using .(dot) separator10.50.9963
['10', '50', '9963']

In [3]:
# program enter your dob using - seperator and converted to list and store date , month

dob=input('enter dob using hipen(-) seperator ')
l=dob.split('-')
print(l)

enter dob using hipen(-) seperator 08-10-2002
['08', '10', '2002']

In [4]:
# list elements accessing
l=[10,20,50,'surendra','priyanka',455,89,75.59]
print(l[0])
print(l[-3])
print(l[2:5])

10
455
[50, 'surendra', 'priyanka']

## List Traversing

In [1]:
l=[23,33,43,53,63]
print(l)

[23, 33, 43, 53, 63]

In [4]:
#list traversing(forward) using for loop:

l=[23,33,43,53,63]
for i in l:
    print(i)

23
33
43
53
63

In [7]:
#list Traversing(backward) using for loop:

l=[23,33,43,53,63]
for i in range(4,-1,-1):
    print(l[i])

63
53
43
33
23

In [11]:
#list traversing(backword) using for loop

l=[23,33,43,53,63,73,83,93,103,113,123]

for i in range(len(l)-1,-1,-1):
    print(l[i])

123
113
103
93
83
73
63
53
43
33
23

In [15]:
# Traverse a list to print both value as well as index in forward direction:

l=[23,33,43,53,63]
for i in range(0,len(l)):
    print(f'{l[i]} is placed at {i} index')

23 is placed at 0 index
33 is placed at 1 index
43 is placed at 2 index
53 is placed at 3 index
63 is placed at 4 index

In [19]:
# Traverse a list to print both value as well as index in backward direction:

l=[23,33,43,53,63]
for i in range(len(l)-1,-1,-1):
    print(f'{l[i]} is present at {i} index')

63 is present at 4 index
53 is present at 3 index
43 is present at 2 index
33 is present at 1 index
23 is present at 0 index

In [24]:
# Traverse a list to print the value along with index in both forward and backward direction:

l=[23,33,43,53,63,73,83,93]
for i in range(0,len(l)):
    print(f'{l[i]} is present at {i} as well as {i-len(l)} index')

23 is present at 0 as well as -8 index
33 is present at 1 as well as -7 index
43 is present at 2 as well as -6 index
53 is present at 3 as well as -5 index
63 is present at 4 as well as -4 index
73 is present at 5 as well as -3 index
83 is present at 6 as well as -2 index
93 is present at 7 as well as -1 index

In [3]:
# Traverse a list  forward by using while loop

l=[23,33,43,53,63]
i=0
while i<=4:
    print(l[i])
    i=i+1

23
33
43
53
63

In [7]:
# Traverse a list backward by using while loop

l=[23,33,43,53,63]
i=4
while i>=0:
    print(l[i])
    i=i-1

63
53
43
33
23

In [3]:
# Traverse a list forward by using while loop and also print the index:
l=[23,33,43,53,63]

i=0
while i<=len(l)-1:
    print(f'{l[i]} is present at {i} index')
    i=i+1

23 is present at 0 index
33 is present at 1 index
43 is present at 2 index
53 is present at 3 index
63 is present at 4 index

In [7]:
# Traverse a list backward by using while loop and also print the index:
l=[23,33,43,53,63]

i=len(l)-1
while i>=0:
    print(f'{l[i]} is prent at {i} index')
    i=i-1

63 is prent at 4 index
53 is prent at 3 index
43 is prent at 2 index
33 is prent at 1 index
23 is prent at 0 index

In [9]:
# Traverse a list forward using while loop and also print the negative index:

l=[23,33,43,53,63]

i=0
while i<=len(l)-1:
    print(f'{l[i]} is present at {i-len(l)} index')
    i=i+1

23 is present at -5 index
33 is present at -4 index
43 is present at -3 index
53 is present at -2 index
63 is present at -1 index

In [11]:
# Traverse a list forward and print both the index values

i=0
while i<=len(l)-1:
    print(f'{l[i]} is present at index {i} as well as {i-len(l)}')
    i=i+1

23 is present at index 0 as well as -5
33 is present at index 1 as well as -4
43 is present at index 2 as well as -3
53 is present at index 3 as well as -2
63 is present at index 4 as well as -1

In [12]:
# Traverse a list backward and print both the index values

i=len(l)-1
while i>=0:
    print(f'{l[i]} is present at both {i} and {i-len(l)} index')
    i=i-1

63 is present at both 4 and -1 index
53 is present at both 3 and -2 index
43 is present at both 2 and -3 index
33 is present at both 1 and -4 index
23 is present at both 0 and -5 index

### Linear/Sequential Search Operation

In [14]:
choice=int(input("Enter the element to search: "))
for i in l:
    if choice==i:
        print("Element Found")
    else:
        print("Element Not Found")

Enter the element to search: 51
Element Not Found
Element Not Found
Element Not Found
Element Not Found
Element Not Found

In [13]:
# case

l=[23,33,43,53,63]

choice=int(input("Enter the element to search: "))

for i in l:
    if choice==i:
        print("Element Found")
    else:
        print("Element Not Found")

Enter the element to search: 33
Element Not Found
Element Found
Element Not Found
Element Not Found
Element Not Found

In [17]:
# Solution 1:

l=[23,33,43,53,63]

choice=int(input('Enter the element to be searched: '))
Found=False

for i in l:
    if choice==i:
        Found=True
    
if Found==True:
    print("Search successful")
else:
    print("Search Unsucessful")

Enter the element to be searched: 43
Search successful

In [19]:
l=[23,43,53,63,73]

choice=int(input('Enter the element to search: '))

Found=0

for i in l:
    if choice==i:
        Found=1
        
if Found==1:
    print('Element Found')
else:
    print('Element not found')

Enter the element to search: 43
Element Found

In [20]:
# solution 2

l=[23,33,43,53,63]
choice=int(input('Enter the element to search: '))

if choice in l:
    print("Element Found")
else:
    print("Element not found")

Enter the element to search: 63
Element Found

In [21]:
# solution 2 in simple way

l=[23,33,43,53,63]

choice=int(input('Enter an elemenet to search : '))

print('element found') if choice in l else print("elemenet not found")

Enter an elemenet to search : 77
elemenet not found

In [30]:
# solution 2 in simple way
l=[23,33,43,53,63]

print('element found') if choice=int(input('Enter an elemenet to search : ')) in l else print('Element not Found')

SyntaxError: invalid syntax (1074925048.py, line 4)

In [29]:
#soultion 3
print('element found') if int(input('Enter an elemenet to search : ')) in [23,33,43,53,63] else print('Element not found')

Enter a elemenet to search : 44
Element not found

In [28]:
#find out the lenegth of a list without using len function
l=[23,33,43,53,63,4,3]
size=0
for i in l:
    size=size+1

print(size)

7

## List Methods

In [2]:
# Append()
# Add at the end
l=[10,20,30]
l.append(40)
print(l)

[10, 20, 30, 40]

In [2]:
# appending 5 student names in an empty list

names=[]
names.append('Surendra')
names.append('Rahul')
names.append('Priyanka')
names.append('Jack')
names.append('Zini')

print(names)

['Surendra', 'Rahul', 'Priyanka', 'Jack', 'Zini']

In [1]:
# Create an empty list and append 5 students names using loop:
names=[]

for i in range(5):
    n=input('Enter the name of the student: ')
    names.append(n)
    
print(names) # Directly list is being printed

Enter the name of the student: Surendra
Enter the name of the student: Priyanka
Enter the name of the student: Rahul
Enter the name of the student: Zini
Enter the name of the student: Jack
['Surendra', 'Priyanka', 'Rahul', 'Zini', 'Jack']

In [3]:
# Create an empty list and append 5 students names using loop:
names=[]

for i in range(5):
    n=input('Enter the name of the Student: ')
    names.append(n)
for i in names:
    print(i)    #list traversing

Enter the name of the Student: Surendra
Enter the name of the Student: Priyanka
Enter the name of the Student: Rahul
Enter the name of the Student: Jack
Enter the name of the Student: Zini
Surendra
Priyanka
Rahul
Jack
Zini

In [4]:
# Create an empty list to append n number of students using loop.

names=[]

no=int(input('Enter the number of students to be added in the list: '))
for i in range(no):
    n=input('Enter the student name: ')
    names.append(n)
print(names)

Enter the number of students to be added in the list: 6
Enter the student name: Surendra
Enter the student name: Priyanka
Enter the student name: Rahul
Enter the student name: Jack
Enter the student name: Zini
Enter the student name: Rocky
['Surendra', 'Priyanka', 'Rahul', 'Jack', 'Zini', 'Rocky']

In [6]:
# Create a list by appending 20 students

nums=[]
for i in range(20):
    nums.append(0)
print(nums)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
# Create two list book_list and price_list then add 3 book as well as price then display book and it's price.

book_list=[]
price_list=[]

for i in range(3):
    bname=input('Enter a book name: ')
    bprice=float(input("Enter the price of the book: "))
    book_list.append(bname)
    price_list.append(bprice)

print(book_list)
print(price_list)

Enter a book name: c language
Enter the price of the book: 455
Enter a book name: Python
Enter the price of the book: 750
Enter a book name: Java\
Enter the price of the book: 728
['c language', 'Python', 'Java\\']
[455.0, 750.0, 728.0]

In [10]:
#create 2 list book_list and price_list then add 3 book as well as price 
# then display book and its price
book_list=[]
price_list=[]
for i in range(3):
    bname=input('Enter Book Name : ')
    bprice=float(input('Enter Book Price '))
    book_list.append(bname)
    price_list.append(bprice)
    
for i in range(3):
    print(f'{book_list[i]} ({price_list[i]}/-)')

Enter Book Name : c language
Enter Book Price 455
Enter Book Name : Python
Enter Book Price 750
Enter Book Name : Java
Enter Book Price 728
c language (455.0/-)
Python (750.0/-)
Java (728.0/-)

In [ ]:
#create 2 list book_list and price_list then add 3 book as well as price , then enter book name to see the price

book_list=[]
price_list=[]
for i in range(3):
    bname=input('Enter Book Name : ')
    bprice=float(input('Enter Book Price '))
    book_list.append(bname)
    price_list.append(bprice)

choice=(input('Enter the Book name to know the price: '))

if choice in book_list:
    print(f'{price_list[i]}')
else:
    print("Book not found")

In [ ]:
# WAP create a list of indian teams performance in  T20 world cup

In [19]:
# WAP to create a list by adding elements from 1 to 20 and those divisible by 3.
l=[]
for i in range(1,21):
    l.append(i)
print(l)

for i in l:
    if i%3==0:
        print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
3
6
9
12
15
18

In [13]:
# WAP to create a list by adding elements from 1 to 20 if even square it , if odd simply write it.
l=[]
for i in range(1,21):
    l.append(i)
print(l)

for i in l:
    if i%2==0:
        print(i*i)
    else:
        print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1
4
3
16
5
36
7
64
9
100
11
144
13
196
15
256
17
324
19
400

In [16]:
# Insert:Add at a particular location

l=[23,33,43,53,63]
l.insert(2,789)
print(l)
l.insert(1,1000)
print(l)

[23, 33, 789, 43, 53, 63]
[23, 1000, 33, 789, 43, 53, 63]

In [2]:
# Insert:Add at a particular location

l=[23,33,43,53,63]
l.insert(2,789)
print(l)
l.insert(1,1000)
print(l)
l.insert(-3,9999)
print(l) 
##Note: If the specified positive index crossed the maximum index, then it will be inserted at the end of the list .

[23, 33, 789, 43, 53, 63]
[23, 1000, 33, 789, 43, 53, 63]
[23, 1000, 33, 789, 9999, 43, 53, 63]

In [3]:
l = [23, 33, 43, 53, 63]
l.insert(20, 789)
print(l)  ##Here in the above code we are trying to insert 789 at index 20 but index 20 is not available so it will be inserted at the end of the list .

[23, 33, 43, 53, 63, 789]

In [4]:
##Note: If the specified negative index crossed the minimum index, then it will be inserted at the beginning of the list.

l = [23, 33, 43, 53, 63]
l.insert(-20, 789)
print(l) # [789, 23, 33, 43, 53, 63]

[789, 23, 33, 43, 53, 63]

In [5]:
##3. count()
##It is used to count the number of times an element appears in the list.

l = [23, 33, 23, 43, 53, 23, 63, 33]
print(l.count(23)) 
print(l.count(33)) 
print(l.count(99))

3
2
0

In [6]:
#4. index()
# It is used to return the specified element index.
l=[23,33,44,43,23,12]
print(l.index(23))
print(l.index(8785))

0

ValueError: 8785 is not in list

In [7]:
##5. remove()
## It is used to remove the specified element from the list.(based on value)
# If the specified element prese multiple times, then it will remove the first occurrence.
l=[23,33,44,43,23,12]
print(l)
l.remove(23)
print(l)
l.remove(856) #ValueError

[23, 33, 44, 43, 23, 12]
[33, 44, 43, 23, 12]

ValueError: list.remove(x): x not in list

In [8]:
#6.Pop:It is used to remove and return the last element of the list, but if you want to remove any specified element then we have to provide that specified element index .

l=[10,20,30,40,50]
print(l)
print(l.pop())
print(l)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]

In [9]:
l=[10,20,30,40,50]
print(l)
l.pop()
print(l)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]

In [11]:
l=[10,20,30,40,50]
print(l)
l.pop()
print(l)
l.pop()
print(l)
l.pop()
print(l)
l.pop()
print(l)
l.pop()
print(l)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 30]
[10, 20]
[10]
[]

In [12]:
l=[10,20,30]
print(l.pop())
print(l)

30
[10, 20]

In [14]:
l=[10,20,30]
print(l.remove(30))
print(l)

None
[10, 20]

In [ ]:
#pop() will work in 2 ways:
#1.if we will not specify the index then it will remove and return the last index. 
#2. if we will specified index it will remove that index and retun the value. 
#3. if the index is not avaiable then it will give index error.

In [15]:
l=[10,20,30,40,50,60]
print(l)
print(l.pop()) #without specifying index
print(l)
print(l.pop(3)) # with specified index
print(l)
print(l.pop(10)) #IndexError

[10, 20, 30, 40, 50, 60]
60
[10, 20, 30, 40, 50]
40
[10, 20, 30, 50]

IndexError: pop index out of range

In [16]:
#create a students list and time_list then add there names based on the time they
#enter into classroom then display last 2 studnets 
std_list=[]
time_list=[]
for i in range(5):
    name=input("Enter your name : ")
    time=input("Enter your time: ")
    std_list.append(name)
    time_list.append(time)

Enter your name : Surendra
Enter your time: 11
Enter your name : Rahul
Enter your time: 12
Enter your name : Zini
Enter your time: 13
Enter your name : Priyanka
Enter your time: 14
Enter your name : Dev
Enter your time: 15

In [17]:
l=[10,20,30,40]
for i in range(3):
    print(l.pop())

40
30
20

In [18]:
#7. extends()
#It is used to add all the elements of one list into another list .
l1=[10,20,30,40,50,60]
l2=[100,200,300]
print(l1)
print(l2)
#after extending
l1.extend(l2) # all the elemnets of l2 will be added in l1
print(l1)
print(l2)
l2.extend(l1)
print(l2)

[10, 20, 30, 40, 50, 60]
[100, 200, 300]
[10, 20, 30, 40, 50, 60, 100, 200, 300]
[100, 200, 300]
[100, 200, 300, 10, 20, 30, 40, 50, 60, 100, 200, 300]

In [2]:
l1=[10,20,30,40,50]
l2=[100,200,300]

print(l1)
print(l2)

l1.extend(l2)
print(l1)
print(l2)

l2.extend(l1)
print(l2)

[10, 20, 30, 40, 50]
[100, 200, 300]
[10, 20, 30, 40, 50, 100, 200, 300]
[100, 200, 300]
[100, 200, 300, 10, 20, 30, 40, 50, 100, 200, 300]

In [19]:
l1=[10,20,30,40]
l2=1000 #int' object is not iterable
l1.extend(l2)
print(l1)

TypeError: 'int' object is not iterable

In [20]:
l1=[10,20,30,40]
l2='surendra'
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 's', 'u', 'r', 'e', 'n', 'd', 'r', 'a']

In [21]:
l1=[10,20,30,40]
l2=['surendra','priyanka']
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 'surendra', 'priyanka']

In [22]:
#9. sort()
# It is used for sorting or arranging elements either in ascending or descending order.
l = [10, 2, 20, 3, 6, 1, 8]
l.sort()
print(l)

[1, 2, 3, 6, 8, 10, 20]

In [23]:
l = [10, 2, 20, 3, 6, 1, 8]
l.sort(reverse=True)  #Descending order
print(l)

[20, 10, 8, 6, 3, 2, 1]

In [25]:
l = [10, 2, 20, 3, 6, 1, 8]
l.sort(reverse=False) # Default nature of sort() is reverse=False
print(l)

[1, 2, 3, 6, 8, 10, 20]

In [26]:
#Note: If list contain Numbers then it will work based on ascending order , but if the list contain String then it will work in Alphabet order(just like English dictionary)
l = ['surendra', 'priyanka', 'rahul', 'zini']
l.sort()
print(l)

['priyanka', 'rahul', 'surendra', 'zini']

In [27]:
l = ['surendra', 'priyanka', 'rahul', 'zini', 23, 33, 43, 53]
l.sort()
print(l) #Note: If list contain heterogenous elements then in this case sort() will not work

#Note : But this above code will work in Python 2 version , in Python 2 version it will first sort numbers then it will sort String data .
#After Executing same code in Python 2 Version the output is 
##[23, 33, 43, 53, 'priyanka', 'rahul', 'surendra', 'zini']

TypeError: '<' not supported between instances of 'int' and 'str'

In [28]:
#10. clear():It is used to clear or remove all the elements of Lists.
l=[10,20,30,30,40,50]
l.clear()
print(l)

[]

In [29]:
# del ( delete )
l=[10,20,30,30,40,50]
del l
print(l)

NameError: name 'l' is not defined

In [30]:
# del ( delete )
l=[10,20,30,30,40,50]
del l[1]
print(l)

[10, 30, 30, 40, 50]

In [31]:
#11. copy():
#It is used for shallow copy of a list, here shallow copy means if we made any modification in the new list wonâ€™t be reflected in the original list.
#Both list will pointing to different memory location.

l1=[10,20,30,40,50]
l2=l1.copy() # shallow copy
print(l1)
print(l2)
# perform modification
l2[2]=999
print('after modification ')
print(l1) # no reflection
print(l2)
print(id(l1))
print(id(l2))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
after modification
[10, 20, 30, 40, 50]
[10, 20, 999, 40, 50]
2269262997120
2269262895296

In [32]:
#deep cloning
l1=[10,20,30,40,50]
l2=l1 # deep copy
print(l1)
print(l2)
# perform modification
l2[2]=999
print('after modification ')
print(l1) # reflection
print(l2)
print(id(l1))
print(id(l2))

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
after modification
[10, 20, 999, 40, 50]
[10, 20, 999, 40, 50]
2269263399104
2269263399104

## Concatenate of Lists:
â€¢ Jointing of list is known as Concantation of lists .
â€¢ + Operator Is used for Concatenate list

In [33]:
l=[10,20,30,40]
s=1000
print(l+s) #can only concatenate list (not "int") to list

TypeError: can only concatenate list (not "int") to list

In [34]:
l=[10,20,30,40]
s=1000
l.append(s)
print(l)

[10, 20, 30, 40, 1000]

In [35]:
l=[10,20,30]
s=[1000]
print(l+s)

[10, 20, 30, 1000]

In [36]:
l=[10,20,30]
s=[1000]
l.append(s)
print(l)

[10, 20, 30, [1000]]

In [37]:
l=[10,20,30]
s=[1000]
print(l+s)

[10, 20, 30, 1000]

In [39]:
##WAP USING LIST TO MATCH YOUR LUCKY NUMBER:
l=[90,89,76,65,10,2,1,56,77,89,67,45,23]
while True:
    choice=int(input('Enter your lucky number : '))
    if choice in l:
        print('matched')
        break
    else:
        print('not matched ')

Enter your lucky number : 4
not matched
Enter your lucky number : 6
not matched
Enter your lucky number : 55
not matched
Enter your lucky number : 56
matched

In [ ]:
# WAP to stop the execution when the lucky number is a float value (list contains both int as well as float value)
l=[2,2.5,4,8.5,9,15.5,18.5,21.5,26,30.3,40.2,60.8]

while True:
    ch=float(input('Enter Your Lucky Number: '))
    
    if ch in l:
        print('Lucky No Found')
        break
    else:
        print("Lucky Not Found Till Now")

Enter Your Lucky Number: 6
Lucky Not Found Till Now
Enter Your Lucky Number: 8
Lucky Not Found Till Now
Enter Your Lucky Number: 56.8
Lucky Not Found Till Now
Enter Your Lucky Number: 89.3
Lucky Not Found Till Now
Enter Your Lucky Number: 60.8
Lucky No Found

In [ ]:
## Membership in Lists:It is used to check whether the specified element is the member of a particular list or not.
There are 2 operator we will use to check membership 
i. in operator 
ii. not in operator

In [40]:
l = [23, 33, 43, 53, 63]
print(23 in l)  
print(99 in l) 
print(23 not in l) 
print(99 not in l)

True
False
False
True

In [42]:
l = [1, 2, 4, 5, 7, 9, 13, 17, 18, 23, 24, 42, 44, 53, 66, 99]
choice = int(input("Enter your choice : "))
if choice in l:
    print("Yes your lucky number is available")
else:
    print("Sry your lucky number is not available")

Enter your choice : 5
Yes your lucky number is available

In [44]:
# wap to find out the min value present inside a list
l=[10,20,3,4,2,17]
min=l[0]
for i in l:
    if min<i:
        pass
    else:
        min=i

print(f' min is {min}')

 min is 2

In [46]:
 l=[10,20,3,4,2,17]
max=l[0]
for i in l:
    if max>i:
        pass
    else:
        max=i

print(f' max is {max}')

 max is 20

In [48]:
#create a list dynamically from user value ( stop if the user will press -1 )
l=[]
while True:
    data=int(input('enter a value : '))
    if data==-1:
         break
    else:
        l.append(data)
print(l)

enter a value : 2
enter a value : 4
enter a value : 6
enter a value : 8
enter a value : 12
enter a value : 32
enter a value : 56
enter a value : 41
enter a value : 10
enter a value : -1
[2, 4, 6, 8, 12, 32, 56, 41, 10]

In [49]:
#List Comparision:
l1=[10,20,30,40]
l2=[10,20,30,40]
print(l1==l2)

True

In [50]:
l1=[10,20,30,40]
l2=[11,20,30,40]
print(l1==l2)

False

In [51]:
l1=[10,20,30,40]
l2=[10,20,30,40]
print(l1>l2)

False

In [52]:
l1=[11,20,30,40]
l2=[10,20,30,40]
print(l1>l2)

True

In [53]:
l1=[10,20,30,40]
l2=[11]
print(l1>l2)

False

In [54]:
l1=[10,20,30,40]
print(l1>l2)

False

In [ ]:
#Nested List:
# if list is present inside another list , then it is called as nested list.

In [63]:
l=[10,20,30,[40,41,42],50,60,70]
print(l)
print(l[2])
print(l[3])
print(l[3][1])
print(l[3][0])
print(l[3][-1])
print(l[-4][-2])

[10, 20, 30, [40, 41, 42], 50, 60, 70]
30
[40, 41, 42]
41
40
42
41

In [64]:
l=[10,20,30,[40,41,42],50,[51,52,53],60,70]
print(l[5])
print(l[2:6])

[51, 52, 53]
[30, [40, 41, 42], 50, [51, 52, 53]]

In [65]:
l=[10,20,30,[40,41,[1,2,3],42],50,60,70]
print(l[3])
print(l[3][3])
print(l[3][2])
print(l[3][2][1])
print(l[-4])
print(l[-4][-2])
print(l[-4][-2][-1])

[40, 41, [1, 2, 3], 42]
42
[1, 2, 3]
2
[40, 41, [1, 2, 3], 42]
[1, 2, 3]
3

In [67]:
# Nested List As a Matrix

l= [
    [10,20,30],
    [40,50,60],
    [70,80,90]
]

print(l[0]) # print in row wise manner
print(l[1])
print(l[2])

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [69]:
# print row wise using loop
l= [
    [10,20,30],
    [40,50,60],
    [70,80,90]
]

for i in l:
    #print(i)
    print(i,end='')

[10, 20, 30][40, 50, 60][70, 80, 90]

In [2]:
l= [
    [10,20,30],
    [40,50,60],
    [70,80,90]
]

for i in l:
    for j in i:
        print(j,end=' ')

10 20 30 40 50 60 70 80 90

In [4]:
l= [
    [10,20,30],
    [40,50,60],
    [70,80,90]
]

for i in l:
    for j in i:
        print(j)
    print('')

10
20
30

40
50
60

70
80
90

In [5]:
l= [
    [10,20,30],
    [40,50,60],
    [70,80,90]
]

for i in l:
    for j in i:
        print(j, end=' ')
    print('')

10 20 30
40 50 60
70 80 90

In [5]:
l=[i  for i in range(100,121)]
l1=[i for i in l if i%2==0]
print(l)
print(l1)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]
[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120]

In [12]:
l=[[j if j%2==0  else j*j for j in range(1,6)] if i%2==0 else 'hello' for i in range(1,6)]
print(l)

['hello', [1, 2, 9, 4, 25], 'hello', [1, 2, 9, 4, 25], 'hello']

## List Comprehension