## Tuple Data Structure

In [1]:
#Creation of empty tuple:

t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
t=(23)
print(t)
print(type(t))

23
<class 'int'>

In [3]:
t=(23,)
print(t)
print(type(t))

(23,)
<class 'tuple'>

In [1]:
# Creation of tuple with different data items
t=(23,'surendra',455.78,False)
print(t)

(23, 'surendra', 455.78, False)

In [2]:
# Creation of tuple without using ()
t=10,20,30,'surendra',455,False
print(t)

(10, 20, 30, 'surendra', 455, False)

In [3]:
# Creation of a Tuple from a list 
l=[10,20,30,40,50]
t=tuple(l)
print(t)

(10, 20, 30, 40, 50)

In [7]:
# Accessing elements in a tuple();
#1.Accessing by index:

t=(23,33,43,53,63)
print(t[0])
print(t[4])
print(t[99]) #tuple index out of range

23
63

IndexError: tuple index out of range

In [10]:
#2.Acessing by slice order:
t=(23,33,43,53,63)
print(t[::])
print(t[:2])
print(t[::2])

(23, 33, 43, 53, 63)
(23, 33)
(23, 43, 63)

In [11]:
# Tuple is immutable:

t=(23,33,43,53,63)
t[2]=789

TypeError: 'tuple' object does not support item assignment

In [12]:
# 1. Concatenation Operation:

t=(23,33,43,53,63)
l=(24,34,44,54,64)
s=(25,35,45,55,65)
p=t+l+s
print(p)

(23, 33, 43, 53, 63, 24, 34, 44, 54, 64, 25, 35, 45, 55, 65)

In [9]:
# 2.Repeatition Operator:
t=(23,33,43,53,63)
l=t*3
print(l)

(23, 33, 43, 53, 63, 23, 33, 43, 53, 63, 23, 33, 43, 53, 63)

In [10]:
# Traversing Using For loop:
t=(23,33,43,53,63)
for i in t:
    print(i)

23
33
43
53
63

In [12]:
# Traversing using While loop:
t=(23,33,43,53,63)
i=0
while i<len(t):
    print(t[i])
    i=i+1

23
33
43
53
63

In [13]:
#Index()

t=(23,33,43,53,63)
print(t.index(63))
print(t.index(33))

4
1

In [14]:
#Count()

t=(23,33,43,53,63,33)
print(t.count(33))

2

In [15]:
# Len()
t=(23,33,43,53,63)
print(len(t))

5

In [16]:
# Min()
t=(23,33,43,53,63)
print(min(t))

23

In [17]:
# Max()
t=(23,33,43,53,63)
print(max(t))

63

In [18]:
# Sorted()
a=(23,33,43,53,63)
b=sorted(a)
print(b)
print(tuple(b))

[23, 33, 43, 53, 63]
(23, 33, 43, 53, 63)

In [19]:
# Sort in Descending order:
a=(23,33,43,53,63)
b=sorted(a,reverse=True)
print(b)

[63, 53, 43, 33, 23]

In [20]:
# Tuple Packing :
a=10
b=20
c=90
d=70
e=40
f=60
t=a,b,c,d,e,f
print(t)

(10, 20, 90, 70, 40, 60)

In [5]:
# Tuple Unpacking:
t=(10,20,90,70)
a,b,c,d=t 
print(a,b,c,d)

10 20 90 70

In [21]:
# Tuple for returning multiple values:

l=[10,20,30,40,50,60]
return(l[0],l[3],l[4])
t=fun()
print(t)
print(type(t))

SyntaxError: 'return' outside function (221887477.py, line 4)

In [22]:
# Nested Tuple:
t=(('Raghuvaran','Shyam',14.7),('Govind','Navkishor',45.7))
print(t[0])
print(t[0][1])
print(t[1][2])
for i in t:
    print(i)

('Raghuvaran', 'Shyam', 14.7)
Shyam
45.7
('Raghuvaran', 'Shyam', 14.7)
('Govind', 'Navkishor', 45.7)

In [34]:
#Task:

t=(('Raghuvaran','Shyam',14.7),('Govind','Navkishor',45.7))
for i in t:
    for j in i:
        print(j)

Raghuvaran
Shyam
14.7
(('Raghuvaran', 'Shyam', 14.7), ('Govind', 'Navkishor', 45.7))
Govind
Navkishor
45.7
(('Raghuvaran', 'Shyam', 14.7), ('Govind', 'Navkishor', 45.7))

In [1]:
t=(('Raghuvaran','Shyam',14.7),('Govind','Navkishor',45.7))
for i in t:
    for j in i:
        print(j)
    print('')

Raghuvaran
Shyam
14.7

Govind
Navkishor
45.7