## LOOPING

### While loop

In [3]:
i=1
while i<=5:
    print('Surendra')
    i=i+1

Surendra
Surendra
Surendra
Surendra
Surendra

In [2]:
i=1
while i<=20:
    print("Ankit")
    i=i+1

Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit
Ankit

In [6]:
a=10
while a<=20:
        print('Surendra')
        a=a+3

Surendra
Surendra
Surendra
Surendra

In [4]:
i=1
while i<=6:
    print(i)
    i=i+1

1
2
3
4
5
6

##### i gives the value when not in a string but incase of a sting the entered string in print statement is executed

In [8]:
i=1
while i<=6:
    print('i')
    i=i+1

i
i
i
i
i
i

In [9]:
i=100
while i>=10:
    print(i)
    i=i-17

100
83
66
49
32
15

In [10]:
i=1
while i<=6:
    print(i*2)
    i=i+1

2
4
6
8
10
12

In [12]:
i=111
while i<=555:
    print(i)
    i=i+111

111
222
333
444
555

In [2]:
# to print: 1 4 9 16 25
i=1
while i<=5:
    print(i**2)
    i=i+1

1
4
9
16
25

In [2]:
i=1
while i<=5:
    print(i*i)
    i=i+1

1
4
9
16
25

In [2]:
#101...101
#201...201
#301...301

i=101
while i<=301:
    print(f'{i}...{i}')
    i=i+100

101...101
201...201
301...301

In [1]:
#print all the even numbers between 1 to 10
i=1
while i<=10:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10

In [1]:
#print all the odd numbers between 2 to 499
i=2
while i<=499:
    if i%2!=0:
        print(i)
    i=i+1

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255
257
259
261
263
265
267
269
271
273
275
277
279
281
283
285
287
289
291
293
295
297
299
301
303
305
307
309
311
313
315
317
319
321
323
325
327
329
331
333
335
337
339
341
343
345
347
349
351
353
355
357
359
361
363
365
367
369
371
373
375
377
379
381
383
385
387
389
391
393
395
397
399
401
403
405
407
409
411
413
415
417
419
421
423
425
427
429
431
433
435
437
439
441
443
445
447
449
451
453
455
457
459
461
463
465
467
469
471
473
475
477
479
481
483
485
487
489
491
493
495
497
499

In [1]:
#print all the numbers divisible by 10 in between 555 to 999

i=555
while i<=999:
    if i%10==0:
        print(i)
    i=i+1

560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990